<div class="tareas-terminadas-container">
    <h2 class="tareas-terminadas-titulo">Tareas Terminadas</h2>

    <ul>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>
        <li><app-tarea-terminadas-item></app-tarea-terminadas-item></li>

    </ul>
</div>
