<div class="tareas-en-proceso-container">
    <h2 class="tareas-en-proceso-titulo">Tareas En Proceso</h2>
    <ul>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
       <app-tarea-en-proceso-item></app-tarea-en-proceso-item>
    </ul>
    
</div>
