.tareas-en-proceso{
    &-container{ 
        width: 100%;
        height: 100%;
        background-color: rgb(255, 235, 52);
        text-align: center;
        padding: 1rem;
    }

    &-titulo{
        text-decoration: underline solid white;
        text-transform: uppercase;
        color: white;

    }
}