.tareas{
    
    &-main{
        &-conatiner{

            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(238, 160, 16);
            width: 80%;
            height: 40rem;
            flex-direction: column;
        }
        &-titulo{
            text-transform: uppercase;
        }
    }

    &-container{
        display: flex;
    }
    

    
}